@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #c5c3c6;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

#instruction {
    color: #46494b;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 10px;
    margin-top: 10px;
}
.stats {
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #667887;
    width: 500px;
    height: 140px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.stats .txt {
    padding: 20px;
    text-align: center;
    width: inherit;
    display: grid;
    gap: 20px;
}
#players {
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
}
.board {
    height: 500px;
    width: 500px;
    background-color: #ededee;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board .square {
    cursor: pointer;
    font-family: 'Architects Daughter', cursive;
    border: solid #46494b 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110px;
    text-align: center;
    color: #46494b;
}
.board .square:hover{
    background-color: #d3d7db;
}
#restart {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    margin: auto;
    position: relative;
    top: 0;
    transition: 0.3s ease-in-out;
}

#restart:hover{
    top: 3px;
}
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    filter: blur(9px);
    z-index: 100;
    width: 500px;
    max-width: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    transition: 400ms ease-in-out;
}
.modal.active {
    filter: blur(0);

    transform: translate(-50%, -50%) scale(1);
}
.modal-header {
    display: grid;
    gap: 10px;
}

.modal-header .modal-winner {
    font-size: 5em;
}
.modal .modal-button {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    pointer-events: none;
    transition: 400ms ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: all ;
}